/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/tailwind.css ***!
  \**************************************************************************************************************/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.visible {
    visibility: visible
}

.collapse {
    visibility: collapse
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    inset: 0px
}

.-right-2 {
    right: -8px
}

.-top-1 {
    top: -4px
}

.-top-2 {
    top: -8px
}

.-top-2\.5 {
    top: -10px
}

.-top-4 {
    top: -16px
}

.-top-6 {
    top: -24px
}

.bottom-0 {
    bottom: 0px
}

.left-0 {
    left: 0px
}

.left-1\/2 {
    left: 50%
}

.left-2\.5 {
    left: 10px
}

.left-\[40\%\] {
    left: 40%
}

.left-\[70\%\] {
    left: 70%
}

.left-\[90\%\] {
    left: 90%
}

.right-0 {
    right: 0px
}

.right-2 {
    right: 8px
}

.top-0 {
    top: 0px
}

.top-2 {
    top: 8px
}

.top-2\.5 {
    top: 10px
}

.top-6 {
    top: 24px
}

.top-\[-15px\] {
    top: -15px
}

.isolate {
    isolation: isolate
}

.z-\[999999\] {
    z-index: 999999
}

.z-\[9999\] {
    z-index: 9999
}

.col-span-2 {
    grid-column: span 2 / span 2
}

.\!m-0 {
    margin: 0px !important
}

.m-0 {
    margin: 0px
}

.-mx-2 {
    margin-left: -8px;
    margin-right: -8px
}

.mx-4 {
    margin-left: 16px;
    margin-right: 16px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px
}

.my-1 {
    margin-top: 4px;
    margin-bottom: 4px
}

.my-14 {
    margin-top: 56px;
    margin-bottom: 56px
}

.my-2 {
    margin-top: 8px;
    margin-bottom: 8px
}

.my-4 {
    margin-top: 16px;
    margin-bottom: 16px
}

.my-8 {
    margin-top: 32px;
    margin-bottom: 32px
}

.\!mb-0 {
    margin-bottom: 0px !important
}

.\!mt-6 {
    margin-top: 24px !important
}

.mb-0 {
    margin-bottom: 0px
}

.mb-1 {
    margin-bottom: 4px
}

.mb-2 {
    margin-bottom: 8px
}

.mb-3 {
    margin-bottom: 12px
}

.mb-4 {
    margin-bottom: 16px
}

.mb-6 {
    margin-bottom: 24px
}

.ml-1 {
    margin-left: 4px
}

.ml-2 {
    margin-left: 8px
}

.mr-2 {
    margin-right: 8px
}

.mt-0 {
    margin-top: 0px
}

.mt-10 {
    margin-top: 40px
}

.mt-2 {
    margin-top: 8px
}

.mt-4 {
    margin-top: 16px
}

.mt-8 {
    margin-top: 32px
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.\!block {
    display: block !important
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1 / 1
}

.size-10 {
    width: 40px;
    height: 40px
}

.size-12 {
    width: 48px;
    height: 48px
}

.size-20 {
    width: 80px;
    height: 80px
}

.size-6 {
    width: 24px;
    height: 24px
}

.h-10 {
    height: 40px
}

.h-16 {
    height: 64px
}

.h-3 {
    height: 12px
}

.h-4 {
    height: 16px
}

.h-6 {
    height: 24px
}

.h-8 {
    height: 32px
}

.h-\[90vh\] {
    height: 90vh
}

.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.w-16 {
    width: 64px
}

.w-6 {
    width: 24px
}

.w-8 {
    width: 32px
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.max-w-2xl {
    max-width: 672px
}

.max-w-screen-sm {
    max-width: 640px
}

.flex-1 {
    flex: 1 1 0%
}

.flex-shrink-0 {
    flex-shrink: 0
}

.flex-grow {
    flex-grow: 1
}

.border-collapse {
    border-collapse: collapse
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes spin {

    to {
        transform: rotate(360deg)
    }
}

.animate-spin {
    animation: spin 1s linear infinite
}

.cursor-not-allowed {
    cursor: not-allowed
}

.cursor-pointer {
    cursor: pointer
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.place-items-center {
    place-items: center
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-1 {
    gap: 4px
}

.gap-2 {
    gap: 8px
}

.gap-3 {
    gap: 12px
}

.gap-4 {
    gap: 16px
}

.gap-6 {
    gap: 24px
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(4px * var(--tw-space-x-reverse));
    margin-left: calc(4px * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(8px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(8px * var(--tw-space-y-reverse))
}

.overflow-y-auto {
    overflow-y: auto
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded {
    border-radius: 4px
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: 8px
}

.rounded-xl {
    border-radius: 12px
}

.rounded-b-\[10px\] {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

.border {
    border-width: 1px
}

.border-0 {
    border-width: 0px
}

.border-2 {
    border-width: 2px
}

.border-y {
    border-top-width: 1px;
    border-bottom-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-l {
    border-left-width: 1px
}

.border-solid {
    border-style: solid
}

.border-dashed {
    border-style: dashed
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.border-gray-200\/20 {
    border-color: rgb(229 231 235 / 0.2)
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.border-gray-800 {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55 / var(--tw-border-opacity, 1))
}

.border-green-600 {
    --tw-border-opacity: 1;
    border-color: rgb(22 163 74 / var(--tw-border-opacity, 1))
}

.border-green-700 {
    --tw-border-opacity: 1;
    border-color: rgb(21 128 61 / var(--tw-border-opacity, 1))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-black\/10 {
    background-color: rgb(0 0 0 / 0.1)
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1))
}

.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1))
}

.bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1))
}

.bg-green-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1))
}

.bg-green-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 101 52 / var(--tw-bg-opacity, 1))
}

.bg-red-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1))
}

.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1))
}

.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-opacity-50 {
    --tw-bg-opacity: 0.5
}

.bg-\[linear-gradient\(to_right\2c _\#15803d\2c _\#4ade80\)\] {
    background-image: linear-gradient(to right, #15803d, #4ade80)
}

.bg-\[linear-gradient\(to_right\2c _\#e64a4a\2c _\#ff8a8a\)\] {
    background-image: linear-gradient(to right, #e64a4a, #ff8a8a)
}

.object-contain {
    -o-object-fit: contain;
       object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
       object-fit: cover
}

.p-0 {
    padding: 0px
}

.p-1 {
    padding: 4px
}

.p-2 {
    padding: 8px
}

.p-2\.5 {
    padding: 10px
}

.p-3 {
    padding: 12px
}

.p-4 {
    padding: 16px
}

.p-6 {
    padding: 24px
}

.p-8 {
    padding: 32px
}

.px-2 {
    padding-left: 8px;
    padding-right: 8px
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px
}

.px-6 {
    padding-left: 24px;
    padding-right: 24px
}

.px-7 {
    padding-left: 28px;
    padding-right: 28px
}

.py-0\.5 {
    padding-top: 2px;
    padding-bottom: 2px
}

.py-1 {
    padding-top: 4px;
    padding-bottom: 4px
}

.py-16 {
    padding-top: 64px;
    padding-bottom: 64px
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px
}

.py-2\.5 {
    padding-top: 10px;
    padding-bottom: 10px
}

.py-3 {
    padding-top: 12px;
    padding-bottom: 12px
}

.py-4 {
    padding-top: 16px;
    padding-bottom: 16px
}

.py-8 {
    padding-top: 32px;
    padding-bottom: 32px
}

.\!pb-3 {
    padding-bottom: 12px !important
}

.\!pt-3 {
    padding-top: 12px !important
}

.pb-14 {
    padding-bottom: 56px
}

.pb-4 {
    padding-bottom: 16px
}

.pb-8 {
    padding-bottom: 32px
}

.pl-10 {
    padding-left: 40px
}

.pl-2 {
    padding-left: 8px
}

.pt-3 {
    padding-top: 12px
}

.pt-4 {
    padding-top: 16px
}

.pt-6 {
    padding-top: 24px
}

.pt-8 {
    padding-top: 32px
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.font-\[\'Figtree\'\] {
    font-family: 'Figtree'
}

.text-2xl {
    font-size: 24px;
    line-height: 32px
}

.text-3xl {
    font-size: 30px;
    line-height: 36px
}

.text-4xl {
    font-size: 36px;
    line-height: 40px
}

.text-base {
    font-size: 16px;
    line-height: 24px
}

.text-lg {
    font-size: 18px;
    line-height: 28px
}

.text-sm {
    font-size: 14px;
    line-height: 20px
}

.text-xl {
    font-size: 20px;
    line-height: 28px
}

.text-xs {
    font-size: 12px;
    line-height: 16px
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.italic {
    font-style: italic
}

.leading-none {
    line-height: 1
}

.leading-snug {
    line-height: 1.375
}

.tracking-normal {
    letter-spacing: 0em
}

.tracking-tight {
    letter-spacing: -0.025em
}

.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity, 1))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity, 1))
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}

.text-green-700 {
    --tw-text-opacity: 1;
    color: rgb(21 128 61 / var(--tw-text-opacity, 1))
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity, 1))
}

.text-saffron {
    --tw-text-opacity: 1;
    color: rgb(230 74 74 / var(--tw-text-opacity, 1))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.text-white\/50 {
    color: rgb(255 255 255 / 0.5)
}

.underline {
    text-decoration-line: underline
}

.line-through {
    text-decoration-line: line-through
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-\[0px_-4px_20px_rgba\(0\2c 0\2c 0\2c 0\.15\)\] {
    --tw-shadow: 0px -4px 20px rgba(0,0,0,0.15);
    --tw-shadow-colored: 0px -4px 20px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline {
    outline-style: solid
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.duration-300 {
    transition-duration: 300ms
}

.\[display\:none\] {
    display: none
}

.\[rotate\:-20deg\] {
    rotate: -20deg
}

.\[rotate\:-45deg\] {
    rotate: -45deg
}

.\[transform\:translateX\(-50\%\)\] {
    transform: translateX(-50%)
}

.\[translate\:-50\%\] {
    translate: -50%
}

.animate-move-left {
    animation: move-left 50s linear infinite
}

@keyframes move-left {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.before\:absolute::before {
    content: var(--tw-content);
    position: absolute
}

.before\:left-0::before {
    content: var(--tw-content);
    left: 0px
}

.before\:top-1\/2::before {
    content: var(--tw-content);
    top: 50%
}

.before\:z-\[-1\]::before {
    content: var(--tw-content);
    z-index: -1
}

.before\:block::before {
    content: var(--tw-content);
    display: block
}

.before\:h-\[1px\]::before {
    content: var(--tw-content);
    height: 1px
}

.before\:w-full::before {
    content: var(--tw-content);
    width: 100%
}

.before\:bg-gray-200::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.before\:content-\[\'\'\]::before {
    --tw-content: '';
    content: var(--tw-content)
}

.hover\:bg-green-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1))
}

.hover\:bg-green-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(22 101 52 / var(--tw-bg-opacity, 1))
}

.hover\:bg-green-900:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(20 83 45 / var(--tw-bg-opacity, 1))
}

.focus\:border-2:focus {
    border-width: 2px
}

.focus\:border-green-600:focus {
    --tw-border-opacity: 1;
    border-color: rgb(22 163 74 / var(--tw-border-opacity, 1))
}

.focus\:border-green-700:focus {
    --tw-border-opacity: 1;
    border-color: rgb(21 128 61 / var(--tw-border-opacity, 1))
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.focus\:ring-0:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed
}

.disabled\:bg-gray-400:disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}

.disabled\:opacity-50:disabled {
    opacity: 0.5
}

.disabled\:shadow-none:disabled {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 768px) {

    .md\:col-span-3 {
        grid-column: span 3 / span 3
    }

    .md\:col-span-5 {
        grid-column: span 5 / span 5
    }

    .md\:hidden {
        display: none
    }

    .md\:h-10 {
        height: 40px
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .md\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr))
    }

    .md\:flex-row-reverse {
        flex-direction: row-reverse
    }

    .md\:gap-12 {
        gap: 48px
    }

    .md\:gap-6 {
        gap: 24px
    }

    .md\:p-6 {
        padding: 24px
    }

    .md\:py-10 {
        padding-top: 40px;
        padding-bottom: 40px
    }

    .md\:py-20 {
        padding-top: 80px;
        padding-bottom: 80px
    }

    .md\:pb-12 {
        padding-bottom: 48px
    }

    .md\:pt-12 {
        padding-top: 48px
    }

    .md\:text-2xl {
        font-size: 24px;
        line-height: 32px
    }

    .md\:text-3xl {
        font-size: 30px;
        line-height: 36px
    }

    .md\:text-4xl {
        font-size: 36px;
        line-height: 40px
    }

    .md\:text-6xl {
        font-size: 60px;
        line-height: 1
    }

    .md\:text-base {
        font-size: 16px;
        line-height: 24px
    }

    .md\:text-lg {
        font-size: 18px;
        line-height: 28px
    }

    .md\:text-xl {
        font-size: 20px;
        line-height: 28px
    }

    .md\:\[display\:block\] {
        display: block
    }
}
